absl-py==0.2.2
appnope==0.1.0
astor==0.7.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bisque-api==0.5.9
bleach==2.1.3
bqapi==0.5.9
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.3
configparser==3.5.0
cycler==0.10.0
dask==0.18.1
decorator==4.3.0
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
graphviz==0.8.3
grpcio==1.13.0
h5py==2.7.1
html5lib==1.0.1
idna==2.6
imageio==2.3.0
ipykernel==4.8.2
ipython==5.6.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.4.1
numexpr==2.6.7
numpy==1.14.2
nytimesarticle==0.1.0
opencv-python==3.4.1.15
pandas==0.22.0
pandocfilters==1.4.2
pathlib2==2.3.2
patsy==0.5.0
pbr==4.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
plotly==3.1.1
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.5.2
Pygments==2.2.0
pymc3==3.4.1
pymks==0.3.4
pyparsing==2.2.0
python-dateutil==2.7.2
python-magic==0.4.15
pytz==2018.4
PyWavelets==0.5.2
PyYAML==4.2b1
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.10.0
requests-toolbelt==0.8.0
retrying==1.3.3
scandir==1.7
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.8.1
selenium==3.12.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
subprocess32==3.2.7
tables==3.4.4
tensorboard==1.10.0
tensorflow==2.9.3
tensorflow-hub==0.1.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.1
traitlets==4.3.2
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wordcloud==1.4.1
xgboost==0.72
